#episode-card {
  margin-top: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1em;

  h4 {
    margin: 0;
  }

  audio {
    outline: none;
    width: 100%;
    margin-top: 10px;
  }
}
