#navbar {
    margin-top: 25px;

    a {
        text-decoration: none;
        color: black;
    }

    h1 {
        margin-left: 20px;
        display: inline;
        font-size: 1.5em;
    }

    .search-options {
        float: right;
        margin-right: 20px;

        input {
          outline: none;
        }
    }
}
