#navbar {
	height: 84px;
	width: 100%;
	padding-top: 28px;

	.big-menu {
		display: none;
	}

	.burger-menu {
		/* Position and sizing of burger button */
		.bm-burger-button {
			position: absolute;
			width: 30px;
			height: 20px;
			right: 0;
			top: 0;
			margin-top: 32px;
			margin-right: 30px;
		}

		button:focus {
			outline: none;
		}
		
		/* Color/shape of burger icon bars */
		.bm-burger-bars {
			background: white;
			height: 1.2px !important;
		}
		
		/* Color/shape of burger icon bars on hover*/
		.bm-burger-bars-hover {
			background: #a90000;
		}
		
		/* Position and sizing of clickable cross button */
		.bm-cross-button {
			position: absolute !important;
			width: 30px !important;
			height: 20px !important;
			right: 0 !important;
			top: 0 !important;
			margin-top: 37px;
			margin-right: 26px;
		}
		
		/* Color/shape of close button cross */
		.bm-cross {
			background: #5F7F5B;
			width: 1px !important;
			height: 21px !important;
		}
		
		/*
		Sidebar wrapper styles
		Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
		*/
		.bm-menu-wrap {
			position: absolute;
			height: 100%;
			top: 0;
		}
		
		/* General sidebar styles */
		.bm-menu {
			background: white;
			padding: 2.5em 1.5em 0;
			font-size: 1.15em;
			overflow: hidden !important;
		}
		
		/* Morph shape necessary with bubble or elastic */
		.bm-morph-shape {
			fill: #373a47;
		}
		
		/* Wrapper for item list */
		.bm-item-list {
			color: #b8b7ad;
			padding: 0.8em;

			.search-options {
				margin: 0;

				p {
					text-align: right;
					margin-top: 30px;
				}

				.search {
					margin-top: 10px;
				}
			}
		}
		
		/* Individual item */
		.bm-item {
			display: inline-block;
		}
		
		/* Styling of overlay */
		.bm-overlay {
			background: rgba(0, 0, 0, 0.3);
		}
	}

	a {
		text-decoration: none;
		color: #5F7F5B;
	}

	h1 {
		margin-top: 0;
		margin-left: 30px;
		font-size: 28px;
		letter-spacing: 0.5px;
		color: white;
		font-weight: 400;
		i {
			font-size: 24px;
		}
	}

	span {
		font-weight: 800;
	}

	.search-options {
		float: right;
		margin-right: 20px;

		input {
			outline: none;
		}
	}
}

@media (min-width: 768px) {
	.big-menu {
		display: inline !important;
		position: absolute;
		top: 30px;
		right: 26px;

		.search-options {
			margin-right: 0 !important;

			p {
				display: inline;
				padding-right: 16px;
			}

			#search {
				display: inline;
			}

			form {
				display: inline;
			}
		}
	}

	.burger-menu {
		display: none;
	}
}
