#podcast-details {
  text-align: left;

  #episodes {
    margin-top: 1em;
    height: 20em;
  }

  #podcast-description {
    display: flex;
    margin: 0 auto;
    margin-top: 1em;

    img {
      width: 40%;
    }

    h1 {
      margin: 0 0 0 15px;
      font-size: 20px;
    }
  }

  h3 {
    margin: 8px 0 0 0;
  }
}
