.quiz {
  padding: 30px;

  .question {
    p {
      font-family: 'Be Vietnam', sans-serif;
      letter-spacing: 1px;
      font-size: 18px;
      text-align: left;
    }

    .quiz-images {
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: 1em;
      grid-row-gap: 1em;
      justify-content: center;
      margin-bottom: 20px;

      img {
        width: 100%;
        height: 8em;
        object-fit: cover;
        cursor: pointer;
        margin: 0 auto;
      }
    }
  }
}
