.random-podcast {
    text-align: center;
    margin: 0 30px;

    #podcast-details-app {
        margin-top: -39px;

        button {
            background: #5F7F5B;
            color: white;
            border: 1px solid transparent;
            letter-spacing: 2px;
            border-radius: 10px; 
        }
    }


    .button {
        margin-top: 10px;
        // display: flex;
        display: -webkit-inline-box;
        justify-content: space-evenly;

        button {
            background: #5F7F5B;
            color: white;
            border: 1px solid transparent;
            letter-spacing: 2px;
            border-radius: 10px;
        }

        .hear-more {
            margin-right: 8px;
        }

        #next {
            margin-left: 8px;
        }
    }

    audio {
        height: 26px;
        margin-top: 1em;
        width: 100%;
    }

    .title-and-image {

        .description {
            margin-top: 1em;
        }

        img {
            width: 100%;
        }

        .overlay {
            margin-left: 10px;
            text-align: left;
            height: 120px;
            overflow: scroll;

            p {
                margin: 0;
                color: #5F7F5B;
            }

            #podcast-title {
                font-size: 20px;
                letter-spacing: 2px;
            }

            #episode-title {
                margin-top: 10px;
                letter-spacing: 0.8px;
            }
        }
    }

    // .title-and-image {
    //     position: relative;
    //     &:hover {
    //         .overlay{
    //             opacity: 1;
    //         }
    //     }

    //     img {
    //         display: block;
    //         width: 100%;
    //         height: auto;
    //     }

    //     .overlay {
    //         position: absolute;
    //         top: 0;
    //         bottom: 0;
    //         left: 0;
    //         right: 0;
    //         height: 100%;
    //         width: 100%;
    //         opacity: 0;
    //         transition: .5s ease;
    //         background: white;
    //         color: #fcbec9;
    //         display: flex;
    //         align-items: center;

    //         .description {
    //             padding-left: 30px;
    //             padding-right: 30px;

    //             #podcast-title {
    //                 font-size: 32px;
    //                 margin: 0;
    //                 letter-spacing: 3px;
    //             }
    //         }
    //     }   
    // }
}

//.random-podcast {
//     display: flex;
//     justify-content: center;
//     padding: 30px;
//     padding-top: 60px;
//     padding-bottom: 70px;

//     .random-podcast-elements {
//         text-align: center;

//         .title-and-image {
//             display: flex;
//             margin: 0 auto;
//             align-items: center;
//             text-align: left;
//             padding-left: 15px;
//             padding-right: 15px;
//             padding-top: 15px;
//             padding-bottom: 15px;
//             border-radius: 20px;
//             background: #EC685A;
    
//             img {
//                 width: 40%;
//             }

//             .description {
//                 margin-left: 14px;
//                 color: white;

//                 #podcast-title {
//                     font-weight: 800;
//                     letter-spacing: 1px;
//                 }

//                 #episode-title {
//                     font-weight: 200;
//                     letter-spacing: 0.2px;
//                 }
//             }

//             button {
//                 width: 68px;
//                 margin-right: 8px;
//                 background: none;
//                 border: white;
//                 color: white;
//             }

//             button:hover {
//                 color: black;
//             }
//         }

//         audio {
//             width: 100%;
//             margin-top: 12px;
//             cursor: pointer;
//         }
//     }

