.random-podcast {
    margin-top: 1em;
    display: flex;
    justify-content: center;

    .random-podcast-elements {
        text-align: center;

        .title-and-image {
            display: flex;
            margin: 0 auto;
            align-items: center;
            text-align: left;
    
            img {
                width: 40%;
            }

            .description {
                margin-left: 14px;
            }

            button {
                width: 75px;
                margin-right: 8px;
            }
        }

        audio {
            width: 100%;
            margin-top: 12px;
        }
    }


    // .random-podcast-elements {
    //     display: flex;
    //     flex-direction: column;

    //     .title-and-image {
    //         display: flex;
    //         flex-direction: row;

    //         .description {
    //             display: flex;
    //             flex-direction: column;
    //             justify-content: space-between;

    //             #podcast-title {
    //                 font-size: 20px;
    //             }

    //             #episode-title {
    //                 font-size: 12px;
    //                 margin-top: -12px;
                    
    //             }
    //         }

    //         p {
    //             font-family: roboto;
    //             font-size: 18px;
    //             letter-spacing: 1px;
    //             padding: 0 26px 0 18px;
    //             text-align: left;
    //             margin: 0;
    //         }
    //     }
        
    //     .button {
    //         display: flex;
    //         align-items: flex-start;
    //         margin-left: 18px;
        
    //         button {
    //             width: 40%;
    //             cursor: pointer;
    //             font-family: roboto;
    //             letter-spacing: 1px;
    //         }
    
    //         #next {
    //             margin-left: 10px;
    //         }
    //     }
    
    //     img {
    //         width: 7em;
    //         height: 7em;
    //         border-radius: 4px;
    //     }
    
    //     audio {
    //         margin: 0 auto;
    //         padding-top: 1em;
    //         height: 40px;
    //         width: 90%;
    //     }
    // }


}
