.search-options {
    p {
        margin: 0;
    }

    p:hover {
        text-decoration: underline;
    }

    #search {
        i {
            position: absolute;
            margin-left: 8px;
            margin-top: 2px;
        }

        input {
            border: 1.4px solid black;
            border-radius: 16px;
            height: 23px;
            font-family: roboto;
            width: 210px;
            font-size: 15px;
            text-indent: 32px;
        }
    }

}