.search-options {
    p {
        margin: 0;
        letter-spacing: 2px;
    }

    p:hover {
        text-decoration: underline;
    }

    #search {
        padding-top: 8px;

        i {
            position: absolute;
            margin-left: 8px;
            margin-top: 2px;
            color: white;
        }

        input {
            border: 1.4px solid transparent;
            border-radius: 16px;
            height: 23px;
            font-family: 'Be Vietnam', sans-serif;
            width: 210px;
            font-size: 15px;
            text-indent: 32px;
            letter-spacing: 1px;
            background: #5F7F5B;
            color: white;
        }
        input::placeholder {
            color: white;
        }
    }

}