#app {
    font-family: 'Be Vietnam', sans-serif;
    background: #7FD1AE;
    height: 325px;

    .app-headers {
        padding-top: 18px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 18px;

        .subtitle {
            font-size: 50px;
            letter-spacing: 2px;
            font-weight: 200;
            margin-top: 0;
        }
    
        .sub-p {
            font-size: 20px;
            letter-spacing: 2px;
            line-height: 28px;
        }
    
        .p {
            letter-spacing: 1px;
            line-height: 22px;
        }
    }
}